/**
 * Stolley's custom theme for reveal.js.
 *
 */


// Default mixins and settings -----------------
@import "../template/mixins";
@import "../template/settings";
// ---------------------------------------------

// Settings Override
// Base settings for all themes that can optionally be
// overridden by the super-theme

// Fonts

// Background of the presentation
$backgroundColor: #2b2b2b;

// Primary/body text
$mainFont: "ff-tisa-web-pro", Georgia, sans-serif;
$mainFontSize: 54px;
$mainColor: #eee;

// Flipped colors (dark on light)
$mainColor: $backgroundColor;
$backgroundColor: #eee;

// Headings
$headingFont: "nimbus-sans-condensed", "Times New Roman", Verdana, Impact, sans-serif;
$headingColor: $mainColor;
$headingLineHeight: 0.9em;
$headingLetterSpacing: 0.02em;
$headingTextTransform: lowercase;
$headingTextShadow: 0px 0px 6px rgba(0,0,0,0.2);
$heading1TextShadow: $headingTextShadow;

// Links and actions
$linkColor: #ff0033;
$linkColorHover: lighten( $linkColor, 20% );

// Text selection
$selectionBackgroundColor: #FF5E99;
$selectionColor: #fff;

// Generates the presentation background, can be overridden
// to return a background image or gradient
@mixin bodyBackground() {
  background: url(/assets/background-light.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.reveal section { background-color: rgba(255,255,255,.9); }
.reveal section { font-family: $headingFont; text-align: left; }
.reveal section {
  pre {
    background-color: $mainColor;
    color: $backgroundColor;
    padding: .2em;
  }
  >p, >ol, >ul {
    padding-left: 5%;
  }
  >ul>li { list-style-type: square; }
  cite { font-style: italic; }
}
.reveal {
  .titleslide {
    h2 { padding-bottom: .5em; }
    small, h2 { color: #888; }
  }
  section.image{
    figure.screencap {

    }
    img {
      display: block;
      margin: 0 auto;
      border: 0px;
      max-height: 13.5em;
    }
  }
  .error { color: red; }
  .highlight {
    color: black;
    background: yellow;
  }
  h1,h2,h3,h4,h5,h6 {
    padding-left: 5%;
    -webkit-hyphens: none;
    -moz-hyphens: none;
    hyphens: none;
  }
  h1 {
    font-size: 2em;
    small {
      display: block;
      float: none;
      font-size: .8em;
    }
  }
  h2 { font-size: 1.6em; }
}
.reveal figure.quote {
  h2,blockquote,figcaption {
  font-family: $mainFont;
  font-style: normal;
  line-height: 1.1;
  }
  h2 {
    padding-left: 0;
    font-size: 1em;
    font-weight: bold;
  }
  figcaption {
    font-size: .7em;
    text-align: right;
    padding-right: 5%;
    &:before {
      content: "— ";
    }
  }
}

//
/* Hemisu Dark */
/* http://jmblog.github.com/color-themes-for-google-code-highlightjs */
/* Original theme - http://noahfrederick.com/vim-color-scheme-hemisu/ */
/* http://jmblog.github.com/color-themes-for-google-code-highlightjs */
.hemisu-comment, pre .comment, pre .xml .doctype, pre .html .doctype {
  color: #777777;
}

.hemisu-accent1, pre .number, pre .ruby .keyword {
  color: #9fd3e6;
}

.hemisu-accent2, pre .string, pre .regexp, pre .xml .value, pre .html .value {
  color: #b1d631;
}

.hemisu-accent3, pre .keyword, pre .title, pre .constant, pre .xml .tag, pre .html .tag, pre .css .rules .attribute {
  color: #bbffaa;
}

.hemisu-accent4 {
  color: #ece1c8;
}

pre code {
  display: block;
  background: black;
  color: #eeeeee;
  font-family: Menlo, Monaco, Consolas, monospace;
  line-height: 1.5;
  border: 1px solid #ccc;
  padding: 10px;
}
pre .xml .tag .title {
  color: #eeeeee;
}
pre .html .tag .title {
  color: #eeeeee;
}
//Load up the default stuff

// Theme template ------------------------------
@import "../template/theme";
// ---------------------------------------------
